<!DOCTYPE html>
<html lang="en">
<head>
   
 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title style="font-size:85%; font-family:'OCR A Std', monospace">@ViewData["Title"] - Search for movies</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel ="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        a {
            text-decoration: none !important;
            
        }
        a{
            opacity: 0.8;
        }
        a:hover{
            opacity:1
        }
        .navLinksShared{
            padding:1px 1px; 
            margin-right:1px;
            text-align:center;
            color:#ffaaff !important;
            white-space:nowrap;
            text-shadow:1px 1px 4px #55A3ff;
            border: none;

        }

    </style>
</head>
<body style="background-color:#c7c0ce;" >
    <header style="background:#26202d;">
           
              <nav nav class="navbar navbar-expand-sm " style="opacity:.9">
                  <div  style="top:10px;left: 10%;position:absolute">
                  
                      <a  asp-area="" asp-controller="Home" asp-action="Index"  style="color:#ffaaff;font-size:32px;font-family:Segoe UI,Arial,sans-serif;text-shadow:1px 1px #eea0ee;font-weight:900;">
                          <span style="background:linear-gradient(to right,  #BE023C , #AA057A);border:solid #FF0250 1px;padding:5px;border-radius:5px">Movie~Casa</span>
                      </a>
                  </div>
                            
                  <div style="bottom:-13px;right:10%;position:absolute;font-size:20px;font-family:Segoe UI,Arial,sans-serif;font-weight:600;">             
                      
                      <a class="navLinksShared" asp-area="" asp-controller="Home" asp-action="Index">Home </a>
                      
                      <a class="navLinksShared" asp-area="" asp-controller="Movies" asp-action="Index">My Movies </a>                                                             
                   
                      <a class="navLinksShared" asp-area="" asp-controller="Search" asp-action="Index">Search</a>

                      <a class="navLinksShared" asp-area="" asp-controller="Search" asp-action="Discover">Discover</a>
                  </div>
              </nav>
                     <hr style="height:5px;background: linear-gradient(to right , #FF0250 , #9300FF , #060473) "/>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MovieDataBase - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
