<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title style="font-size:85%; font-family:'OCR A Std', monospace">@ViewData["Title"] - Search for movies</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel ="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
    a:hover{
        text-decoration : none
    }
    </style>

</head>
<body style="background-color:#c7c0ce;" >

    <header style="background:#26202d;padding-top:12px">
        <nav class="navbar navbar-expand-sm ">
            <div class="container">
                <a asp-area="" asp-controller="Home" asp-action="Index"  style="color:#5200cc;text-align:center;position:absolute;left:120px;font-size:32px;font-family:Segoe UI,Arial,sans-serif;text-shadow:1px 1px #bbbbbb;font-weight:900;">
                    <span style="background:linear-gradient(to right,  #BE023C , #AA057A);border:solid #FF0250 1px;padding:5px;border-radius:5px">Movie-Casa</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" style="position: absolute;right: 60px;">
                    <ul class="navbar-nav flex-grow-1" style="font-size:24px;font-family:Segoe UI,Arial,sans-serif;text-shadow:2px 1px #5555e9;font-weight:600;" >
                        <li class="nav-item">
                            <a  class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" style="text-align:center;color:#9999ff !important;position:relative;border-radius:5px;padding:6px 6px;margin-right:4px;background:linear-gradient(to right, #AA057A , #A705AA)">Home
                            </a>
                        </li>

                        <li class="nav-item" >
                            <a class="nav-link text-dark"  asp-area="" asp-controller="Home" asp-action="Privacy" style="text-align:center;color:#9999ff !important;position:relative;border-radius:5px;padding:6px 6px;margin-right:4px;background:linear-gradient(to right, #A705AA , #FF02E8)">Privacy
                            </a>
                        </li>

                        <li class="nav-item" >
                            <a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="Index" style="text-align:center;color:#9999ff !important;position:relative;border-radius:5px;padding:6px 6px;margin-right:4px;background:linear-gradient(to right, #FF02E8 , #B800EE)" >My Movies
                            </a>
                        </li>

                        <li class="nav-item" >
                            <a class="nav-link text-dark" asp-area="" asp-controller="Search" asp-action="Index" style="text-align:center;color:#9999ff !important;border-radius:5px;position:relative;padding:6px 6px;margin-right:4px;background:linear-gradient(to right, #B800EE , #5C00B3)">Search
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
                     <hr style="height:5px;background: linear-gradient(to right , #FF0250 , #9300FF , #060473  ) "/>
    </header>
    <div>
    </div>
       
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MovieDataBase - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
