

<div class="container" >
  <div class="row">
   
             <div class="col-sm">
        <p style="text-align:center;font-size:24px;font-family:Segoe UI,Arial,sans-serif;color:#6666ff ;text-shadow:2px 2px #bbbbbb;font-weight:900">Best Of All Time</p>

  
      <div id="AllTimeCarousel" class="carousel slide" data-ride="carousel" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#AllTimeCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#AllTimeCarousel" data-slide-to="1"></li>
          <li data-target="#AllTimeCarousel" data-slide-to="2"></li>
          <li data-target="#AllTimeCarousel" data-slide-to="3"></li>
          <li data-target="#AllTimeCarousel" data-slide-to="4"></li>
          <li data-target="#AllTimeCarousel" data-slide-to="5"></li>
          <li data-target="#AllTimeCarousel" data-slide-to="6"></li>
        </ol>

        <!-- Wrapper for slides -->

      <div class="carousel-inner" >
  
        <div class="item active">
          <a href="https://www.imdb.com/title/tt0111161/" target="_blank" ><img src="https://i.ibb.co/2Z8KcBR/shawshank-450x740.jpg" alt="The Shawshank Redemption" style="width:100%" /></a>
          <div class="carousel-caption">
            
          </div>
        </div>
  
        <div class="item">
          <a href="https://www.imdb.com/title/tt0068646/" target="_blank" ><img src="https://i.ibb.co/GQ5h8DY/godfather-450x740.jpg" alt="The Godfather" style="width:100%"/></a>
          <div class="carousel-caption">
            
          </div>
        </div>
  
        <div class="item">
          <a href="https://www.imdb.com/title/tt0468569/" target="_blank"><img src="https://i.ibb.co/9thJMM6/darkknight-450x740.jpg" alt="The Dark Knight" style="width:100%"/></a>
          <div class="carousel-caption">
          </div>
        </div>
        
        <div class="item">
          <a href="https://www.imdb.com/title/tt0110912/" target="_blank"><img src="https://i.ibb.co/wz5F5QK/pulpfiction-450x740.jpg" alt="Pulp Fiction" style="width:100%"/></a>
          <div class="carousel-caption">
          </div>
        </div>
        
        <div class="item">
          <a href="https://www.imdb.com/title/tt0167260/" target="_blank"><img src="https://i.ibb.co/YhnWkKk/lordoftherings-450x740.jpg" alt="The Lord Of The Rings: The Return Of The King" style="width:100%"/></a>
          <div class="carousel-caption">
          </div>
        </div>
        
        <div class="item">
          <a href="https://www.imdb.com/title/tt0245429/" target="_blank"><img src="https://i.ibb.co/B4MRYQ6/spiritedaway-450x740.jpg" alt="Spirited Away" style="width:100%"/></a>
          <div class="carousel-caption">
          </div>
        </div>
        
        <div class="item">
          <a href="https://www.imdb.com/title/tt0816692/" target="_blank"><img src="https://i.ibb.co/262Cdcp/interstellar-450x740.jpg" alt="Interstellar" style="width:100%"/></a>
          <div class="carousel-caption">
          </div>
        </div>

      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#AllTimeCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#AllTimeCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div> 
 






   <div class="col-sm">
    <p style="text-align:center;font-size:24px;font-family:Segoe UI,Arial,sans-serif;color:#6666ff ;text-shadow:2px 2px #bbbbbb;font-weight:900">Hot Movies Right Now</p>

  
      <div id="CurrentCarousel" class="carousel slide" data-ride="carousel" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#CurrentCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#CurrentCarousel" data-slide-to="1"></li>
          <li data-target="#CurrentCarousel" data-slide-to="2"></li>
          <li data-target="#CurrentCarousel" data-slide-to="3"></li>
          
        </ol>

        <!-- Wrapper for slides -->
      <div class="carousel-inner" >
  
      <div class="item active">
        <a href="https://www.imdb.com/title/tt0293429/" target="_blank" ><img src="https://i.ibb.co/RTpZTgZ/mortalkombat-450x740.jpg" alt="Mortal Kombat" style="width:100%" /></a>
        <div class="carousel-caption">
          
        </div>
      </div>
  
      <div class="item">
        <a href="https://www.imdb.com/title/tt5034838/" target="_blank" ><img src="https://i.ibb.co/x6jR50q/kongvsgodzilla-450x740.jpg" alt="Kong vs Godzilla" style="width:100%"/></a>
        <div class="carousel-caption">
          
        </div>
      </div>
  
      <div class="item">
        <a href="https://www.imdb.com/title/tt7126948/" target="_blank"><img src="https://i.ibb.co/sWhJWCg/ww84-450x740.jpg" alt="Wonder Woman 1984" style="width:100%"/></a>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <a href="https://www.imdb.com/title/tt11032374/" target="_blank"><img src="https://i.ibb.co/wpz9c14/demonslayer-450x740.jpg" alt="Demon Slayer: Mugen Train" style="width:100%"/></a>
        <div class="carousel-caption">
        </div>
      </div>


      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#CurrentCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#CurrentCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
 </div>
 


   <div class="col-sm">
        <p style="text-align:center;font-size:24px;font-family:Segoe UI,Arial,sans-serif;color:#6666ff ;text-shadow:2px 2px #bbbbbb;font-weight:900">Released in April</p>
  
      <div id="MonthCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#MonthCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#MonthCarousel" data-slide-to="1"></li>
          <li data-target="#MonthCarousel" data-slide-to="2"></li>
          <li data-target="#MonthCarousel" data-slide-to="3"></li>
          <li data-target="#MonthCarousel" data-slide-to="4"></li>
          >
        </ol>

        <!-- Wrapper for slides -->
      <div class="carousel-inner" >
  
      <div class="item active">
        <a href="https://www.imdb.com/title/tt0437863/" target="_blank" ><img src="https://i.ibb.co/8gf8JPy/benchwarmers-450x740.jpg" alt="Bench Warmers" style="width:100%" /></a>
        <div class="carousel-caption">
          
        </div>
      </div>
  
      <div class="item">
        <a href="https://www.imdb.com/title/tt4154796/" target="_blank" ><img src="https://i.ibb.co/QrDrDGN/avengers-Endgame-1-450x740.jpg" alt="Avengers: Endgame" style="width:100%"/></a>
        <div class="carousel-caption">
          
        </div>
      </div>
  
      <div class="item">
        <a href="https://www.imdb.com/title/tt2820852/" target="_blank"><img src="https://i.ibb.co/GsPLVTR/Furious7-450x740.jpg" alt="Furious 7" style="width:100%"/></a>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <a href="https://www.imdb.com/title/tt6644200/" target="_blank"><img src="https://i.ibb.co/ZGTSgpJ/Quiet-Place-450x740.jpg" alt="A Quiet Place" style="width:100%"/></a>
        <div class="carousel-caption">
        </div>
      </div>

      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#MonthCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      
      <a class="right carousel-control" href="#MonthCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
 </div>

 </div>
</div>

