<style>
    .CarouselTitle{
        border:outset 1px #BE023C;
        box-shadow: 3px 2px 5px #0000ff;
        border-radius:10px 10px 5px 5px ;
        background-color: #d5c9de; 
        text-align:center;
        font-size:24px;
        font-family:Segoe UI,Arial,sans-serif;
        color: #7a0033;
        text-shadow: 2px #5700b5;
        font-weight:900;
        white-space:nowrap;
       
        }


</style>


<div class="container" >
  <div class="row">
   
             <div class="col-sm">
        <p class="CarouselTitle">Best Of All Time</p>

  
      <div id="AllTimeCarousel" class="carousel slide" data-ride="carousel" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#AllTimeCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#AllTimeCarousel" data-slide-to="1"></li>
          <li data-target="#AllTimeCarousel" data-slide-to="2"></li>
          <li data-target="#AllTimeCarousel" data-slide-to="3"></li>
          <li data-target="#AllTimeCarousel" data-slide-to="4"></li>
          <li data-target="#AllTimeCarousel" data-slide-to="5"></li>
          <li data-target="#AllTimeCarousel" data-slide-to="6"></li>
        </ol>

        <!-- Wrapper for slides -->

      <div class="carousel-inner" >
  
        <div class="item active">
          <a href="https://www.imdb.com/title/tt0111161/" target="_blank" ><img src="https://i.ibb.co/2Z8KcBR/shawshank-450x740.jpg" alt="The Shawshank Redemption" style="width:100%" /></a>
          <div class="carousel-caption">
            
          </div>
        </div>
  
        <div class="item">
          <a href="https://www.imdb.com/title/tt0068646/" target="_blank" ><img src="https://i.ibb.co/GQ5h8DY/godfather-450x740.jpg" alt="The Godfather" style="width:100%"/></a>
          <div class="carousel-caption">
            
          </div>
        </div>
  
        <div class="item">
          <a href="https://www.imdb.com/title/tt0468569/" target="_blank"><img src="https://i.ibb.co/9thJMM6/darkknight-450x740.jpg" alt="The Dark Knight" style="width:100%"/></a>
          <div class="carousel-caption">
          </div>
        </div>
        
        <div class="item">
          <a href="https://www.imdb.com/title/tt0110912/" target="_blank"><img src="https://i.ibb.co/wz5F5QK/pulpfiction-450x740.jpg" alt="Pulp Fiction" style="width:100%"/></a>
          <div class="carousel-caption">
          </div>
        </div>
        
        <div class="item">
          <a href="https://www.imdb.com/title/tt0167260/" target="_blank"><img src="https://i.ibb.co/YhnWkKk/lordoftherings-450x740.jpg" alt="The Lord Of The Rings: The Return Of The King" style="width:100%"/></a>
          <div class="carousel-caption">
          </div>
        </div>
        
        <div class="item">
          <a href="https://www.imdb.com/title/tt0245429/" target="_blank"><img src="https://i.ibb.co/B4MRYQ6/spiritedaway-450x740.jpg" alt="Spirited Away" style="width:100%"/></a>
          <div class="carousel-caption">
          </div>
        </div>
        
        <div class="item">
          <a href="https://www.imdb.com/title/tt0816692/" target="_blank"><img src="https://i.ibb.co/262Cdcp/interstellar-450x740.jpg" alt="Interstellar" style="width:100%"/></a>
          <div class="carousel-caption">
          </div>
        </div>

      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#AllTimeCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#AllTimeCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div> 
 






   <div class="col-sm">
    <p class="CarouselTitle">Hot Movies Right Now</p>

  
      <div id="CurrentCarousel" class="carousel slide" data-ride="carousel" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#CurrentCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#CurrentCarousel" data-slide-to="1"></li>
          <li data-target="#CurrentCarousel" data-slide-to="2"></li>
          <li data-target="#CurrentCarousel" data-slide-to="3"></li>
          
        </ol>

        <!-- Wrapper for slides -->
      <div class="carousel-inner" >
  
      <div class="item active">
        <a href="https://www.imdb.com/title/tt0293429/" target="_blank" ><img src="https://i.ibb.co/RTpZTgZ/mortalkombat-450x740.jpg" alt="Mortal Kombat" style="width:100%" /></a>
        <div class="carousel-caption">
          
        </div>
      </div>
  
      <div class="item">
        <a href="https://www.imdb.com/title/tt5034838/" target="_blank" ><img src="https://i.ibb.co/x6jR50q/kongvsgodzilla-450x740.jpg" alt="Kong vs Godzilla" style="width:100%"/></a>
        <div class="carousel-caption">
          
        </div>
      </div>
  
      <div class="item">
        <a href="https://www.imdb.com/title/tt7126948/" target="_blank"><img src="https://i.ibb.co/sWhJWCg/ww84-450x740.jpg" alt="Wonder Woman 1984" style="width:100%"/></a>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <a href="https://www.imdb.com/title/tt11032374/" target="_blank"><img src="https://i.ibb.co/wpz9c14/demonslayer-450x740.jpg" alt="Demon Slayer: Mugen Train" style="width:100%"/></a>
        <div class="carousel-caption">
        </div>
      </div>


      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#CurrentCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#CurrentCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
 </div>
 


   <div class="col-sm">
        <p class="CarouselTitle">Released in May</p>
  
      <div id="MonthCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#MonthCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#MonthCarousel" data-slide-to="1"></li>
          <li data-target="#MonthCarousel" data-slide-to="2"></li>
          <li data-target="#MonthCarousel" data-slide-to="3"></li>
          
        </ol>

        <!-- Wrapper for slides -->
      <div class="carousel-inner" >
  
      <div class="item active">
        <a href="https://www.imdb.com/title/tt0118655/" target="_blank" ><img src="https://i.ibb.co/WBVFpKr/austinpowers-1.jpg" alt="Austin Powers: International Man of Mystery" style="width:100%" /></a>
        <div class="carousel-caption">
          
        </div>
      </div>
  
      <div class="item">
        <a href="https://www.imdb.com/title/tt1049413/" target="_blank" ><img src="https://i.ibb.co/Prc6jMc/Webp-net-resizeimage.jpg" alt="Up" style="width:100%"/></a>
        <div class="carousel-caption">
          
        </div>
      </div>
  
      <div class="item">
        <a href="https://www.imdb.com/title/tt0076759/" target="_blank"><img src="https://i.ibb.co/VNjs2pH/Webp-net-resizeimage-1.jpg" alt="Star Wars : Episode IV - A New Hope" style="width:100%"/></a>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <a href="https://www.imdb.com/title/tt0848228/" target="_blank"><img src="https://i.ibb.co/WkP7CTZ/Webp-net-resizeimage-2.jpg" alt="The Avengers" style="width:100%"/></a>
        <div class="carousel-caption">
        </div>
      </div>

      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#MonthCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      
      <a class="right carousel-control" href="#MonthCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
 </div>

 </div>
</div>

